.container {
    display: flex;
    gap: 2rem;
}
.songs-list, .analysis-results {
    width: 50%;
}
.genre-container {
    margin: 1em 0;
}
.genre-item {
    margin-bottom: 0.3em;
}
.genre-name {
    font-weight: bold;
    margin-right: 0.5em;
}
