<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <title>Your Spotify Playlists</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='playlists.css') }}">
    </head>
    <body>
        <h1>Your Spotify Playlists</h1>

        <div class="saved-playlists">
            <div class="label">
                <strong>Main Playlist:</strong> {{ main_playlist.name if main_playlist else "None Saved" }}
            </div>
            <div class="label">
                <strong>Secondary Playlist:</strong> {{ secondary_playlist.name if secondary_playlist else "None Saved" }}
            </div>
            <!-- not done, creating compare_playlists-->
            <a href="{{ url_for('compare_playlists') }}">Compare Playlists</a>
        </div>

        <ul>
  {% for playlist in playlists %}
        <div>
            <!-- url_for calls the app route that contains the function that url_for is listing, playlist.id = playlist["id";
             this calls the playlist_songs function in playlist.py that passes the individual playlist id and token so that the playlist
             can be accessed and the tracks can be found]-->
            <a href="{{ url_for('playlist_songs', playlist_id=playlist.id,) }}?token={{ token|urlencode }}">
            {{ playlist.name }} ({{ playlist.tracks.total }} tracks)
            </a>
        </div>
  {% endfor %}
        </ul>
    </body>
</html>
