<!DOCTYPE html>
<html>
<head><title>Songs in Playlist</title></head>
<body>
    <h1>Songs in Playlist</h1>
    <ul>
    {% for song in songs %}
        <div>
            <!--ex: 1. Name - Artist1, Artist2-->
            {{ loop.index }}. {{ song.track.name }} -
            {% for artist in song.track.artists %}
            <!--if not loop last means if it is not the end of the loop - boolean-->
                {{ artist.name }}{% if not loop.last %}, {% endif %}
            {% endfor %}
        </div>
    {% endfor %}
    </ul>
    <a href="javascript:window.history.back()">Back to Playlists</a>   
     <p><a href="{{ url_for('index') }}">Back to Login</a></p>
</body>

</html>
