<!DOCTYPE html>
<html>
<head>
    <title>Songs in Playlist</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='songs.css') }}">

</head>
<body>
    <h1>Songs in {{ playlist_name }}</h1>

    <div class="buttons">
        <form action="{{ url_for('save_main') }}" method="post" style="display:inline-block; margin-right: 10px;">
            <input type="hidden" name="analysis" value='{{ analysis | tojson | safe }}'>
            <input type="hidden" name="playlist_name" value="{{ playlist_name }}">
            <input type="hidden" name="playlist_id" value="{{ playlist_id }}">
            <button type="submit">Add tracks to this playlist</button>
        </form>
    
        <form action="{{ url_for('save_secondary') }}" method="post" style="display:inline-block;">
            <input type="hidden" name="analysis" value='{{ analysis | tojson | safe }}'>
            <input type="hidden" name="playlist_name" value="{{ playlist_name }}">
            <input type="hidden" name="playlist_id" value="{{ playlist_id }}">
            <input type="hidden" name="song_data" value="{{ songs }}">
            <button type="submit">Add tracks from this playlist</button>
        </form>
    </div>
    <div class="back">                
        <a href="{{ url_for('playlists') }}">Back to Playlist</a>
        <a href="{{ url_for('index') }}">Back to Login</a>
    </div>

    <div class="list-container">
        <!-- left Side: Analysis -->
        <div class="genre-container">

            <h2>Theme</h2>
            <!-- only .theme because it is getting the value from theme-->
            <span class="genre-name">{{ analysis.theme }}</span>

            <h2>Genre Breakdown</h2>
            <!-- .items because the dict at genre_confidence has a value that contains a dict-->
            {% for genre, score in analysis.genre_confidence.items() %}
            <div class="genre-item">
                <span class="genre-name">{{ genre }}</span>:
                <span>{{ (score * 100) | round(1) }}%</span>
            </div>
            {% endfor %}

        </div>      

        <div class="container">
            <!-- right Side: Songs -->
            <div class="songs-list">
                <h2>Tracks</h2>
                <ul>
                {% for song in songs %}
                    <div>
                        {{ loop.index }}. {{ song.track.name }} -
                        {% for artist in song.track.artists %}
                            {{ artist.name }}{% if not loop.last %}, {% endif %}
                        {% endfor %}
                    </div>
                {% endfor %}
                </ul>

            </div>
        </div>

</body>
</html>
